@model IEnumerable<HabiWei.Models.WeightEntry>
@{
    ViewBag.Title = "Weight Entries";
}

            <h2> Weight Entries </h2>

<button onclick="location.href='@Url.Action("Create", "WeightEntries")'">Enter new days weight</button>
            <table class="table">
<thead>
    <tr>
        <th>Week</th>
        <th>Average Weight</th>
    </tr>
</thead>
<tbody>
        @foreach (var item in ViewBag.WeeklyAverages)
        {
        <tr>
        <td> @item.Week </td >
        <td> @item.AverageWeight.ToString("F2") </td>
        </tr >
        }
</tbody>
            </table>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
            <td> @item.Date.ToShortDateString() </td >
            <td> @item.Weight </td>
            </tr>
            }
    </tbody>
</table>
